<h1> All restaurants </h1>

<form action="/restaurants" method="get">
  <input type="text" name="restaurant_name" placeholder="Which restaurant?">
  <input type="submit">
</form>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= restaurant[:name] %> - <%= restaurant[:address] %>
  </li>
  <% end %>
</ul>


<form action="/restaurants" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="restaurant_name" placeholder="Restaurant Name">
  <input type="text" name="restaurant_address" placeholder="Address">
  <input type="submit">
</form>
